:root {
    --red: #AB1305;
    --yellow:#DAF739;
    --blue: #0E57AB;
    --lightred:#DAF739;
    --lightblue : #0777F7;

    --jet:#2d2d2a;
    --blackOlive:#353831;
    --kombuGreen:#38423B;
    --DarkSlateGray:#3f5E5A;
    --SpringGreen:#20FC8F;
}

*{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#20FC8F !important;
}

.card {
    display:flex;
    justify-content: center !important;;
    background:#3f5E5A !important;
    box-shadow: 3px 3px #38423B;
    text-align: center;
    margin-top:7em;
    margin-right: 3em;

}



.card-header {
    display:flex;
    justify-content: center;
    background:#AB1305;
}

.loadingdiv {
    display:flex;
    align-items: center;
    justify-content: center;
    height:4em;
    width:17em;
    text-algin:center;
    align-items: center;
    color:antiquewhite;

}